.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.PersonList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(5, 78, 74);
}
.PersonList-Header{
    display: flex;
    color: rgb(175, 111, 7);
    align-items: center;
    margin-bottom: 1rem;
}

.Status{
  display: flex;
  padding-top: 1rem;
  align-items: center;
  justify-content: center;
  color: rgb(13, 99, 66);
}

.Button{
  display: flex;
  align-items: center;
  min-width: 200px;
  font-size: larger;
  font-weight: 600;
  justify-content: center;
  color: rgb(13, 99, 66);
  border-radius: 15px;
  border: none;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.Input{
  display: flex;
  align-items: center;
  min-height: 40px;
  font-size: larger;
  font-weight: 600;
  justify-content: center;
  color: rgb(13, 99, 66);
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}